{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">FlaskApp!</h1>
        <p class="lead">En esta aplicación puedes manejar tus listas personales de compras</p>
        <hr class="my-4">
        <p>Registra una nueva cuenta o inicia sesión</p>
        <!-- Botones para crear nueva cuenta y registrarse -->
         <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register')}}">Registrarse</a>
         <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.login')}}">Login</a>
    </div>
{% endblock %}
