{% extends "base.html" %}
{% block content %}
    <h1>Tus listas de compra</h1>
    <form method="POST">
        <div class="form-group">
            <label for="list_name">Nombre de la lista</label>
            <input type="text" class="form-control" id="list_name" name="list_name" required>
        </div>
        <div class="form-group">
            <label for="items">Items</label>
            <textarea class="form-control" id="items" name="items" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Añadir lista</button>
    </form>
    <hr>
    <!-- Ciclo for para las tarjetas (card) de cada lista -->
    {% for list in user_lists %}
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{{ list.name }}</h5>
                <p class="card-text">{{ list.items }}</p>
                <form method="POST" action="{{ url_for('main.delete_list', list_id=list.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
