{% extends "base.html" %}

{% block name %}
<h1>Proyectos</h1>
{% endblock %}

{% block body %}
<div class="container">    
    <div class="row p-5">
        <div class="col-4">
            <p>Proyectos</p>
        </div>
        <div class="col-8">
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/DataJm/2024ProgramacionPython">
                        Programación con Python
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/DataJm/2024WebServerPython">
                        Desarrollo web con Flask
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}